# This is the top-most EditorConfig file
root = true

# For all files:
#
# - Unix-style newlines (LF)
# - Newline ending the file
# - Remove trailing whitespaces
[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.php]
indent_style = tab
indent_size = 2

[*.js]
indent_style = space
indent_size = 2

[*.less]
indent_style = space
indent_size = 2
